main-bg-color rgba(86,
86,
.4),
main-color rgba(255,
255,
.9),
link-color #259b24ff,
body {
  font: 1em/0.4em "Lato", "Roboto Mono";
  background: main-bg-color;
  color: main-color;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  padding: 5%;
}
section {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
a {
  color: link-color;
}
form input {
  padding: 0.4em;
  border: 0.1em solid;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
}
.bs2editor-link-dropdown {
  display: none;
}
